[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiosmtplib = "*"
python-dateutil = "*"

[dev-packages]
black = "*"
aioresponses = "*"
pylint = "*"
mypy = "*"
asynctest = "*"
pre-commit = "*"
minimock = "*"
rope = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7.0"

[pipenv]
allow_prereleases = true

[scripts]
test = 'sh -c "mypy announcer --ignore-missing-imports && pytest"'
lint = 'black --check announcer'
